extends layout

block content

  - each c in challenges
    .card.css3-shadow

      .card-ch-right
        img(src='#{c.logo}', width='200px', max-height='500px')

      .card-ch-left
        h1
          a(href='/challenges/' + c.link)= c.name
        - if (c.start)
          h5= "Starts: " + c.start.toString().substring(0,10)
        br
        p!= c.description_mk

      .spacer
      .spacer
      .card-ch-bottom
        - if (c.status == 'tease')
          | Challenge will start soon. Be sure to join.

        - if (c.status == 'live')
          a(href='/challenges/' + c.link + '/pulls')= c.created + " contributions"
          = " - "
          a(href='/challenges/' + c.link + '/users')= c.users.length + " participants"

    .spacer
