extends layout

block content
  #menu

  #content
    .profile-left
      .profile-avatar
        img(src=cuser.avatar_url)

      .profile-name
        b= cuser.user_fullname
        br
        a(href='http://www.github.com/' + cuser.user_name)= cuser.user_name
      - if (cuser.location && (cuser.location_pub || cuser.user_name == user.user_name))
        .profile-info.profile-info-location
          = cuser.location
      - if (cuser.user_email && (cuser.email_pub || cuser.user_name == user.user_name))
        .profile-info.profile-info-email
          = cuser.user_email
      - if (cuser.join_us)
        .profile-info.profile-info-date Joined on
          = " " + (cuser.join_us).toString().substring(4, 16)

      .profile-numbers
        .profile-num
          p= cuser.followers_no
          h5 followers
        .profile-num
          p= cuser.following_no
          h5 following

      .profile-links
        - if (everyauth.loggedIn)
          - if (user.user_name == cuser.user_name)
            a(href='/' + user.user_name + '/notifications') Notifications
            br
            a(href='/logout') Logout

    .profile-right
      - if (currentUrl == '' && joined)
        .profile-header Joined challenges
        - each ch in challenges
          - if (ch.joined)
            .profile-item
              a(href='/challenges/' + ch.link)= ch.name

      - if (currentUrl == 'notifications')
        .profile-notif
          .profile-header Your notifications
          - if (notif.length == 0)
            .profile-item
              = "You have no new notifications."
          - each n in notif
            .profile-item
              - if (n.type == 'idea_comm')
                = n.src + " commented on your "
                  a(href=n.link) idea
                  = ", " + n.date_f + "."
              - if (n.type == 'proj_comm')
                = n.src + " commented on your "
                  a(href=n.link) project
                  = ", " + n.date_f + "."
              - if (n.type == 'pull_accepted')
                = "Repo " + n.src + " accepted your pull request."
              - if (n.type == 'welcome')
                = "Welcome to Challenges by ROSEdu! Check out our "
                  a(href=n.link) FAQ page
                  = " to get started."

  .spacer
  .spacer
